In [2]:
import pandas as pd
import numpy as np

## 1.创建对象

In [3]:
pd.Series(range(2, 19, 3))

0     2
1     5
2     8
3    11
4    14
5    17
dtype: int64

In [4]:
dates = pd.date_range('20160101', periods=6)

In [5]:
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2016-01-01 -0.285274  0.193015  0.041825  0.846445
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365
2016-01-03  1.682123 -0.611449  2.067293 -0.777523
2016-01-04  1.508043  0.496110  0.691820 -0.886582
2016-01-05 -0.234215  0.157290  0.287215  0.780725
2016-01-06 -0.597400  0.709340 -0.054387  0.863903

In [8]:
df2 = pd.DataFrame({"A": 1,
              "B": pd.Timestamp('20160101'),
              "C": pd.Series(1, index=list(range(4)), dtype="float32"),
              "D": np.array([3] * 4, dtype="int32"),
              "E": pd.Categorical(["test", "train", "test", "train"]),
              "F": "foo"
              })

In [9]:
df2

   A          B    C  D      E    F
0  1 2016-01-01  1.0  3   test  foo
1  1 2016-01-01  1.0  3  train  foo
2  1 2016-01-01  1.0  3   test  foo
3  1 2016-01-01  1.0  3  train  foo

In [10]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## 2.查看数据

In [11]:
df.head()

                   A         B         C         D
2016-01-01 -0.285274  0.193015  0.041825  0.846445
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365
2016-01-03  1.682123 -0.611449  2.067293 -0.777523
2016-01-04  1.508043  0.496110  0.691820 -0.886582
2016-01-05 -0.234215  0.157290  0.287215  0.780725

In [12]:
df.tail(3)

                   A        B         C         D
2016-01-04  1.508043  0.49611  0.691820 -0.886582
2016-01-05 -0.234215  0.15729  0.287215  0.780725
2016-01-06 -0.597400  0.70934 -0.054387  0.863903

In [13]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [15]:
df.values

array([[-0.28527389,  0.19301519,  0.0418254 ,  0.84644531],
       [ 0.51284728, -0.33400578, -0.3981836 , -0.28136498],
       [ 1.68212267, -0.61144865,  2.06729256, -0.77752305],
       [ 1.50804294,  0.49611026,  0.69182023, -0.88658233],
       [-0.2342149 ,  0.15728978,  0.28721509,  0.78072468],
       [-0.59740047,  0.7093397 , -0.05438655,  0.86390341]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.431021  0.101717  0.439264  0.090934
std    0.974186  0.496917  0.876396  0.835757
min   -0.597400 -0.611449 -0.398184 -0.886582
25%   -0.272509 -0.211182 -0.030334 -0.653484
50%    0.139316  0.175152  0.164520  0.249680
75%    1.259244  0.420336  0.590669  0.830015
max    1.682123  0.709340  2.067293  0.863903

In [17]:
df.T

   2016-01-01  2016-01-02  2016-01-03  2016-01-04  2016-01-05  2016-01-06
A   -0.285274    0.512847    1.682123    1.508043   -0.234215   -0.597400
B    0.193015   -0.334006   -0.611449    0.496110    0.157290    0.709340
C    0.041825   -0.398184    2.067293    0.691820    0.287215   -0.054387
D    0.846445   -0.281365   -0.777523   -0.886582    0.780725    0.863903

In [18]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2016-01-01  0.846445  0.041825  0.193015 -0.285274
2016-01-02 -0.281365 -0.398184 -0.334006  0.512847
2016-01-03 -0.777523  2.067293 -0.611449  1.682123
2016-01-04 -0.886582  0.691820  0.496110  1.508043
2016-01-05  0.780725  0.287215  0.157290 -0.234215
2016-01-06  0.863903 -0.054387  0.709340 -0.597400

In [19]:
df.sort(columns="B")

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2016-01-03  1.682123 -0.611449  2.067293 -0.777523
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365
2016-01-05 -0.234215  0.157290  0.287215  0.780725
2016-01-01 -0.285274  0.193015  0.041825  0.846445
2016-01-04  1.508043  0.496110  0.691820 -0.886582
2016-01-06 -0.597400  0.709340 -0.054387  0.863903

## 3.选择

In [21]:
df['A']

2016-01-01   -0.285274
2016-01-02    0.512847
2016-01-03    1.682123
2016-01-04    1.508043
2016-01-05   -0.234215
2016-01-06   -0.597400
Freq: D, Name: A, dtype: float64

In [22]:
df[0:3]

                   A         B         C         D
2016-01-01 -0.285274  0.193015  0.041825  0.846445
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365
2016-01-03  1.682123 -0.611449  2.067293 -0.777523

In [24]:
df["20160102":"20160104"]

                   A         B         C         D
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365
2016-01-03  1.682123 -0.611449  2.067293 -0.777523
2016-01-04  1.508043  0.496110  0.691820 -0.886582

In [26]:
df.loc[dates[0]]

A   -0.285274
B    0.193015
C    0.041825
D    0.846445
Name: 2016-01-01 00:00:00, dtype: float64

In [28]:
df.loc[:, ["A", "B"]]

                   A         B
2016-01-01 -0.285274  0.193015
2016-01-02  0.512847 -0.334006
2016-01-03  1.682123 -0.611449
2016-01-04  1.508043  0.496110
2016-01-05 -0.234215  0.157290
2016-01-06 -0.597400  0.709340

In [30]:
df.loc["20160102": "20160106", ["A", "B"]]

                   A         B
2016-01-02  0.512847 -0.334006
2016-01-03  1.682123 -0.611449
2016-01-04  1.508043  0.496110
2016-01-05 -0.234215  0.157290
2016-01-06 -0.597400  0.709340

In [33]:
df.loc["20160102", ["A", "B"]]

A    0.512847
B   -0.334006
Name: 2016-01-02 00:00:00, dtype: float64

In [34]:
df.loc[dates[0], 'A']

-0.28527389137832831

In [35]:
df.at[dates[0], "A"]

-0.28527389137832831

In [36]:
df.iloc[3]

A    1.508043
B    0.496110
C    0.691820
D   -0.886582
Name: 2016-01-04 00:00:00, dtype: float64

In [37]:
df.iloc[[1,2,4], [0,2]]

                   A         C
2016-01-02  0.512847 -0.398184
2016-01-03  1.682123  2.067293
2016-01-05 -0.234215  0.287215

In [38]:
df.iloc[1:3, :]

                   A         B         C         D
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365
2016-01-03  1.682123 -0.611449  2.067293 -0.777523

In [39]:
df.iloc[1, 1]

-0.33400578471370185

In [40]:
df.iat[1, 1]

-0.33400578471370185

In [41]:
df[df.A > 0]

                   A         B         C         D
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365
2016-01-03  1.682123 -0.611449  2.067293 -0.777523
2016-01-04  1.508043  0.496110  0.691820 -0.886582

In [42]:
df[df > 0]

                   A         B         C         D
2016-01-01       NaN  0.193015  0.041825  0.846445
2016-01-02  0.512847       NaN       NaN       NaN
2016-01-03  1.682123       NaN  2.067293       NaN
2016-01-04  1.508043  0.496110  0.691820       NaN
2016-01-05       NaN  0.157290  0.287215  0.780725
2016-01-06       NaN  0.709340       NaN  0.863903

In [43]:
df3 = df.copy()

In [44]:
df3["E"] = ["one", "one", "two", "three", "four", "three"]

In [45]:
df3

                   A         B         C         D      E
2016-01-01 -0.285274  0.193015  0.041825  0.846445    one
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365    one
2016-01-03  1.682123 -0.611449  2.067293 -0.777523    two
2016-01-04  1.508043  0.496110  0.691820 -0.886582  three
2016-01-05 -0.234215  0.157290  0.287215  0.780725   four
2016-01-06 -0.597400  0.709340 -0.054387  0.863903  three

In [47]:
df3[df3["E"].isin(["two", "four"])]

                   A         B         C         D     E
2016-01-03  1.682123 -0.611449  2.067293 -0.777523   two
2016-01-05 -0.234215  0.157290  0.287215  0.780725  four

In [48]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20160101', periods=6))

In [49]:
s1

2016-01-01    1
2016-01-02    2
2016-01-03    3
2016-01-04    4
2016-01-05    5
2016-01-06    6
Freq: D, dtype: int64

In [50]:
df["F"] = s1

In [51]:
df

                   A         B         C         D  F
2016-01-01 -0.285274  0.193015  0.041825  0.846445  1
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365  2
2016-01-03  1.682123 -0.611449  2.067293 -0.777523  3
2016-01-04  1.508043  0.496110  0.691820 -0.886582  4
2016-01-05 -0.234215  0.157290  0.287215  0.780725  5
2016-01-06 -0.597400  0.709340 -0.054387  0.863903  6

In [52]:
df.at[dates[0], "A"] = 0

In [53]:
df.iat[0,1] = 0

In [54]:
df

                   A         B         C         D  F
2016-01-01  0.000000  0.000000  0.041825  0.846445  1
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365  2
2016-01-03  1.682123 -0.611449  2.067293 -0.777523  3
2016-01-04  1.508043  0.496110  0.691820 -0.886582  4
2016-01-05 -0.234215  0.157290  0.287215  0.780725  5
2016-01-06 -0.597400  0.709340 -0.054387  0.863903  6

In [55]:
df.loc[:, "D"] = np.array([5] * len(df))

In [56]:
df

                   A         B         C  D  F
2016-01-01  0.000000  0.000000  0.041825  5  1
2016-01-02  0.512847 -0.334006 -0.398184  5  2
2016-01-03  1.682123 -0.611449  2.067293  5  3
2016-01-04  1.508043  0.496110  0.691820  5  4
2016-01-05 -0.234215  0.157290  0.287215  5  5
2016-01-06 -0.597400  0.709340 -0.054387  5  6

In [57]:
df4 = df.copy()

In [58]:
df4[df4 > 0] = -df4

In [59]:
df4

                   A         B         C  D  F
2016-01-01  0.000000  0.000000 -0.041825 -5 -1
2016-01-02 -0.512847 -0.334006 -0.398184 -5 -2
2016-01-03 -1.682123 -0.611449 -2.067293 -5 -3
2016-01-04 -1.508043 -0.496110 -0.691820 -5 -4
2016-01-05 -0.234215 -0.157290 -0.287215 -5 -5
2016-01-06 -0.597400 -0.709340 -0.054387 -5 -6

## 4.缺失值处理

In [63]:
df3

                   A         B         C         D      E
2016-01-01 -0.285274  0.193015  0.041825  0.846445    one
2016-01-02  0.512847 -0.334006 -0.398184 -0.281365    one
2016-01-03  1.682123 -0.611449  2.067293 -0.777523    two
2016-01-04  1.508043  0.496110  0.691820 -0.886582  three
2016-01-05 -0.234215  0.157290  0.287215  0.780725   four
2016-01-06 -0.597400  0.709340 -0.054387  0.863903  three

In [67]:
df1 = df[df > 0].copy()

In [68]:
df1

                   A        B         C  D  F
2016-01-01       NaN      NaN  0.041825  5  1
2016-01-02  0.512847      NaN       NaN  5  2
2016-01-03  1.682123      NaN  2.067293  5  3
2016-01-04  1.508043  0.49611  0.691820  5  4
2016-01-05       NaN  0.15729  0.287215  5  5
2016-01-06       NaN  0.70934       NaN  5  6

In [70]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [71]:
df1.loc[dates[0]:dates[1], "E"] = 1

In [72]:
df1

                   A         B         C  D  F    E
2016-01-01  0.000000  0.000000  0.041825  5  1  1.0
2016-01-02  0.512847 -0.334006 -0.398184  5  2  1.0
2016-01-03  1.682123 -0.611449  2.067293  5  3  NaN
2016-01-04  1.508043  0.496110  0.691820  5  4  NaN

In [73]:
df1.dropna(how="any")

                   A         B         C  D  F    E
2016-01-01  0.000000  0.000000  0.041825  5  1  1.0
2016-01-02  0.512847 -0.334006 -0.398184  5  2  1.0

In [74]:
df1.fillna(value=5)

                   A         B         C  D  F    E
2016-01-01  0.000000  0.000000  0.041825  5  1  1.0
2016-01-02  0.512847 -0.334006 -0.398184  5  2  1.0
2016-01-03  1.682123 -0.611449  2.067293  5  3  5.0
2016-01-04  1.508043  0.496110  0.691820  5  4  5.0

In [75]:
pd.isnull(df1)

                A      B      C      D      F      E
2016-01-01  False  False  False  False  False  False
2016-01-02  False  False  False  False  False  False
2016-01-03  False  False  False  False  False   True
2016-01-04  False  False  False  False  False   True

In [76]:
df.mean()

A    0.478566
B    0.069548
C    0.439264
D    5.000000
F    3.500000
dtype: float64

In [77]:
df.mean(1)

2016-01-01    1.208365
2016-01-02    1.356132
2016-01-03    2.227593
2016-01-04    2.339195
2016-01-05    2.042058
2016-01-06    2.211511
Freq: D, dtype: float64

In [78]:
s = pd.Series([1,3,5,np.nan, 6,8], index=dates).shift(2)

In [79]:
s

2016-01-01    NaN
2016-01-02    NaN
2016-01-03    1.0
2016-01-04    3.0
2016-01-05    5.0
2016-01-06    NaN
Freq: D, dtype: float64

In [80]:
df.sub(s, axis="index")

                   A         B         C    D    F
2016-01-01       NaN       NaN       NaN  NaN  NaN
2016-01-02       NaN       NaN       NaN  NaN  NaN
2016-01-03  0.682123 -1.611449  1.067293  4.0  2.0
2016-01-04 -1.491957 -2.503890 -2.308180  2.0  1.0
2016-01-05 -5.234215 -4.842710 -4.712785  0.0  0.0
2016-01-06       NaN       NaN       NaN  NaN  NaN

In [81]:
df.apply(np.cumsum)

                   A         B         C   D   F
2016-01-01  0.000000  0.000000  0.041825   5   1
2016-01-02  0.512847 -0.334006 -0.356358  10   3
2016-01-03  2.194970 -0.945454  1.710934  15   6
2016-01-04  3.703013 -0.449344  2.402755  20  10
2016-01-05  3.468798 -0.292054  2.689970  25  15
2016-01-06  2.871398  0.417285  2.635583  30  21

In [82]:
df.apply(lambda x: x.max() - x.min())

A    2.279523
B    1.320788
C    2.465476
D    0.000000
F    5.000000
dtype: float64

>http://www.cnblogs.com/chaosimple/p/4153083.html